################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Startup.cs
/.gitattributes
/.gitattributes
/Startup.cs
.vs/
